<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.GreenLemonMobile.RssReader"
    android:versionCode="7"
    android:versionName="1.0.7" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="7" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- permission设置 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="Application"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChannelActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="ItemDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="SearchActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="AboutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Panel" >
        </activity>
        <activity
            android:name=".ContentCenterActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <provider
            android:name=".provider.DataProvider"
            android:authorities="com.GreenLemonMobile.RssReader.provider.DataProvider" >
        </provider>

        <service
            android:name=".service.SubscribedFeedService"
            android:label="@string/app_name" >
        </service>

        <receiver android:name=".receiver.SubscribedFeedWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/feed_appwidget_info" />
        </receiver>

        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>